@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 23.0769% 97.4510%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 340 82% 52%;
    /* Rose 500 #f43f5e */
    --primary-foreground: 0 0% 100%;
    --secondary: 262 83% 58%;
    /* Purple 500 */
    --secondary-foreground: 0 0% 100%;
    --muted: 50.4000 26.8817% 81.7647%;
    --muted-foreground: 0 0% 43.1373%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 83.1373%;
    --input: 0 0% 83.1373%;
    --ring: 340 82% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    /* Black */
    --foreground: 0 0% 100%;
    /* White */
    --card: 0 0% 5%;
    /* Very Dark Gray */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 340 82% 52%;
    /* Rose 500 #f43f5e */
    --primary-foreground: 0 0% 100%;
    --secondary: 262 83% 58%;
    /* Purple 500 */
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 340 82% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}