@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 23.0769% 97.4510%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 349.5238 100% 87.6471%;
    --primary-foreground: 0 0% 0%;
    --secondary: 197.4000 71.4286% 72.5490%;
    --secondary-foreground: 0 0% 0%;
    --muted: 50.4000 26.8817% 81.7647%;
    --muted-foreground: 0 0% 43.1373%;
    --accent: 60 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 83.1373%;
    --input: 0 0% 83.1373%;
    --ring: 349.5238 100% 87.6471%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220.0000 14.7541% 11.9608%;
    --foreground: 0 0% 89.8039%;
    --card: 197.1429 6.9307% 19.8039%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 197.1429 6.9307% 19.8039%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 330 100.0000% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 120 60.0000% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 26.6667%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 197.4000 71.4286% 72.5490%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 26.6667%;
    --input: 0 0% 26.6667%;
    --ring: 330 100.0000% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}